/* algumas cores
   verde #4d7019
   marrom #4f2c1d 
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    color: #4f2c1d;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  

main{
    width: 100%;
}
.home{
    width: 35%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    text-align: start;
   
}

.bg-image{
    background-image: url(imgs/banner-portifolio.webp);
}



.home h1{
    font-size: 75px;
   color: black;
}

#typing-animation{
    font-size: 24px;  
    color: black; 
}
.modos{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
}
.side-bar{
    background-color: #7f9ca5b7;
    padding: 20px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    min-width: 80px;
    
}


.side-bar li{
    background-color: #428982 ;
    border-radius: 35px;
    padding: 5px;
    transition: background-color 1.1s ease-out, padding 0.3s ease;
    margin: 20px 5px;
}

.side-bar li:hover{
    background-color:#097F73;
    padding-left: 15px ;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
    justify-content: center;

}

ul{
    gap: 25px;
    list-style-type: none;
   
}

ul li a{
    font-weight: 500;
    color: rgb(2, 2, 37);
    text-decoration: none;
}

.modos img{
    height: 28px;
    width: 28px;
}
.side-bar-icons{
    height: 38px;
    width: 38px;
}

.sobre{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    padding:  15px;
    justify-content: space-around;
    align-items: center;
}

.sobre img {
    height: 280px;
    width: 280px;
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 0 0 20px rgba(100, 150, 255, 0.4); 
}



.text-sobre{
    font-size: 20px;
    width: 30%;
    
}

.tecnologias{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
   
}

.tecnologias img{
    width: 48px;
    height: 48px;
}


.proj-holder{
   display: flex;
   align-items: center;
   justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.Projetos{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  
}

.proj-holder h2{
    color: #4f2c1d;
    font-size: 70px;
   
}
  .projects {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .portfolio .project a {
            text-decoration: none;
            color: #f1f1f1;
        }

       

        #elCalaverito{
            width: 100px;
            height: 100px;
        }

        .project1,
        .project2,
        .project3 {
            display: flex;
            justify-content: space-between;
            padding: 25px 30px;
            border-radius: 15px;
            background-color: #A2BEDC;
            color: #f0f8ff;
        
        }

        .containerIcons {
            display: flex;
            flex-direction: column;
            margin-left: 5px;
            align-items: center;
            justify-content: center;
            text-align: justify;
            font-size: 16px;
            cursor: pointer;
            gap: 15px;
        }

        .iconHome {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        .containerIcons a{
            text-decoration: none;
            color: #f0f8ff;
            font-weight: 500;
            transition: all 0.3s ease-in-out;
        }
        .containerIcons p {
            border: 1px solid #a2c9eb;
            border-radius: 20px;
            padding: 10px 20px;
            width: 250px;
            text-align: center;
            display: flex;
            text-align: center;
            gap: 10px;
            transition: all 0.3s ease-in-out;
            text-shadow: #fff;
        }

        .containerIcons p:hover {
            color: #ffffff;
            background-color: rgba(108, 160, 215, 0.3);
            text-shadow: 0px 0px 20px antiquewhite;
        }

        .containerIcons img {
            width: 30px;
            height: 30px;
        }

